{% extends "base.html" %}


{% block content %}
<body class="bodyhome">
  <section class="principal">

    <div class="column-container">
        <div class="col-md-6">
          {% for postdestacado in destacado %}
          <h1>{{ postdestacado.titulo }}</h1>
          {% endfor %}
        </div>

        <div class="col-md-6">
          {% for postdestacado in destacado %}
          <img src="{{ postdestacado.imagen_principal.url }}" alt="{{ postdestacado.titulo }}" width="600px">
          {% endfor %}
        </div>
   </div>
  </section>



    <section class="novedades">
      <h1>Novedades</h1>
      <div class="row">
      {% for publicacion in publicaciones %}
              <div class="col-md-6">
                <div class="card" style="width: 32rem; border-color: #FFFFFF; background-color: {{ colores|random }};">
                  <div class="card-body">
                    <img src="{{ publicacion.imagen_principal.url }}" class="card-img-top" alt="{{ publicacion.titulo }}">
                    <h3 class="categorias">Categoría: {{ publicacion.categoria }}</h3> <h4 class="titulos">{{ publicacion.titulo }}</h4>
                    <p class="fechas"> {{ publicacion.fecha_publicacion }} </p>
                  </div>
                </div>
              </div>
            </div>
      {% endfor %}
    </section>
</body>
{% endblock content %}
