{% extends "base.html" %}
{% load static %}

{% block content %}
  <body class="publicacion">
    <div class="bloque_rosa">
    </div>
    <div class="row cuerpopost">
        <div class="col-md-6">
          <img src="{{ publicacion.imagen_principal.url }}" alt="{{ publicacion.titulo }}" />
          <h5 class="extracto"> {{ publicacion.extracto }} </h5>
          {% if publicacion.imagen2 %}
            <img src="{{ publicacion.imagen2.url }}" alt="{{ publicacion.titulo }}" />
          {% endif %}
        </div>
        <div class="col-md-6">
          <h2 class="titulo">{{ publicacion.titulo }}</h2>
          <p class="fecha">{{ publicacion.fecha_publicacion }}</p>
          <p class="autora">{{ publicacion.autora }}</p>
          {% with contenido=publicacion.contenido|safe %}

            {{ contenido|slice:"</p>" }}
          {% endwith %}
        </div>
    </div>
  </body>
{% endblock content %}
