{% extends 'base.html' %}

{% block content %}
<body class="transparencia">
  <h1 class="titulo_transparencia">Transparencia</h1>
  <section class="caja_blanca">
    <p class="texto_aporte">
        Acá podrás encontrar información acerca de lo que hemos hecho en ODEGI y nuestra gestión desde su creación.
  <b>Estatutos:</b>
      <button>Descarga</button>
  <b>Memoria 2023:</b>
      <button>Descarga</button>
    </p>
  </section>
  <section>
      <h1 class="titulo_donar">¿Cómo hago para donar?</h1>
      <p class="texto_donar">Trabajamos día a día para fortalecer la producción de datos feministas, su visibilización y uso para evidenciar las desigualdades de género e interseccionalidades, insumar la toma de decisiones desde una perspectiva crítica y luchar contra las inequidades del patriarcado en Chile y Latinoamérica. Es por esto que tu aporte es muy significativo para nosotras ¡Ayúdanos haciendo tu aporte único o mensual!</p>
  </section>
</body>
{% endblock %}
