.bodyhome {
  background: linear-gradient(0deg, #9A99DA 0%, #A2A1DC 4.13%, #B8B7E0 10.55%, #DBDBE8 18.42%, #EBEBEB 21.54%, #EBEBEB 32.86%, #EBEBEB 100%) no-repeat;
  background-size: cover;
  height: 100%;
}

/* ==================== HEADER ====================== */
.botondonar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header button {
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  width: 92px;
  height: 41px;
  border-radius: 50px;
  border: 1px solid #000000;
  background-color: transparent;
  margin-right: 5%;
  margin-top: 20px;
}
/* ==================== NAVEGADOR ====================== */
nav {
  background-color: #FFFFFF;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Work Sans', sans-serif;
  font-size: 1vw;
  height: 3vw;
  color: #222222;
  border-radius: 50px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 1rem;
}
.logo-con-margen {
  margin-left: 8rem;
}
.nav-item {
  font-weight: normal;
  margin: 0.5vw 1vw 0.5vw 1vw;

}
/* ==================== ESTILO FOOTER ====================== */
footer {
  .container-fluid {
    border-top: 1px solid #EBEBEB;
    padding-top: 3em;
    color: #EBEBEB;
    margin-left: 6em;
    margin-right: 6em;
    padding-bottom: 80px;
    display: block;
  }
}
.columna1 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    line-height: 1.1;
}
.columna2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
}
.columna3 {
  font-family: 'Work Sans', sans-serif;
}
.linkmail {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.1em;
  color: #EBEBEB;
  text-decoration: none;
  margin: 2em;
}
.footer button {
  background-color: transparent;
  padding: 10px 30px 10px 30px;
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  color: #EBEBEB;
  border-radius: 50px;
  border: 1px solid #EBEBEB;
}
.rrss img {
  margin-right: 0.8em;
}
/* ==================== HOME DESTACADO ====================== */
.destacado_home{
  column-count: 2;
  column-gap: 2vw;
  margin: 8rem 10rem 3rem;
}
.col-md-6 {
  width: 100%;
}
.imagen_destacada {
  width: 100%;
  max-height: 30rem;
  object-fit: cover;
}
.titulo_destacado {
  font-family: 'Playfair Display', serif;
  font-size: 3vw;
  color: #333333;
}

/* ==================== HOME CONTENEDOR NOVEDADES ====================== */


.novedades {  /* container novedades */
  margin: 6em;
  background-color: #FFFFFF;
  border-radius: 50px;
  padding: 8em;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
}
.contenedor_titulo {
  width: 100%;
  padding-bottom: 2vw;
}
.titulo_novedades {
  font-family: 'Playfair Display', serif;
  font-size: 3vw;
  color: #333333;
}
.novedades-cards-container {
  columns: 2;
  width: 100%;
  column-gap: 3vw;
}
.novedad-card {
  flex: 0 0 calc(50% - 1em);
  margin-bottom: 3vw;
}
.card {
  border-radius: 50px;
  border: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.card-body {
  border-radius: 50px;
  border: none;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.card-img-top {
  border: none;
  border-radius: 50px 50px 0 0;
  width: 100%;
  margin: 0;
  height: auto;
  vertical-align: middle;
  background-size: cover;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}
.card-text {
  text-align: left;
  text-decoration: none;
}
.categorias {
  font-family: 'Playfair Display', serif;
  font-size: 1vw;
  color: #222222;
  text-decoration: none;
}
.card-body h2 .categorias {
  font-family: 'Playfair Display', serif;
  font-size: 1vw;
  color: #222222;
  text-decoration: none;
  margin-left: 0 !important;
}

.titulos {
  text-decoration: none;
  margin-left: 2vw;
  margin-right: 2vw;
  font-family: 'Work Sans', sans-serif;
  font-size: 2vw;
}
.fechas {
  text-decoration: none;
  margin-left: 2vw;
  margin-right: 2vw;
  font-family: 'Work Sans', sans-serif;
  font-size: 0.8em;
}
.card-body a {
  text-decoration: none; /* Elimina el subrayado */
  color: #333333; /* Cambia el color del texto */
}

/* ==================== NOSOTRAS ====================== */
.nosotrash {
  background-color: #9A99DA;
}
.texto_imagen_nosotras {
  margin: 12rem;
  column-count: 2;
  column-gap: 0px;
}
.textonosotras {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  color: #333333;
  vertical-align: middle;
}
.fotomancha {
  margin-left: 8rem;
  margin-right: 0px;
}
.mancha {
  max-width: 120%;
  height: auto;
  vertical-align: middle; /* Alinea verticalmente la imagen */
}
.colaboradoras {
  display: flex;
  column-count: 3;
  flex-direction: column;
  column-gap: 2px;
  margin: 6rem;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  border-radius: 50px;
  padding: 8em;
}
.equipo {
  display: flex;
  flex-direction: row;
}
.lasvoluntarias {
  column-count: 3;
  column-gap: 2px;
  border-top: 1px solid #222222;
}

.elequipo {
  column-count: 3;
  column-gap: 2px;
}
.columna4 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  color: #333333;
  padding: 20px;
  padding-bottom: 100%;
}
.columna5 {
  font-family: 'Work Sans', sans-serif;
  padding-top: 2rem;
}
.lasvoluntarias {
  column-count: 3;
  column-gap: 2px;
}
.columna7 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  color: #333333;
  padding: 20px;
  padding-bottom: 100%;
}
.columna8 {
  font-family: 'Work Sans', sans-serif;
  padding-top: 2rem;
}
.tomaaccion {
  border-top: 1px solid #222222;
  display: flex;
  column-count: 2;
  margin-left: 0;
  margin-right: 2rem;
  margin-top: 3rem;
}
.columna10 {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  color: #333333;
  padding: 20px;
  display: flex;
  margin-left: 15rem;
  margin-right: 1rem;
}
.columna11 {
  margin-left: 3rem;
}
.columna11 button {
  background-color: transparent;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2em;
  color: #333333;
  border: 1px solid #222222;
  border-radius: 50px;
  align-content: center;
  padding: 5px 20px 5px 20px;
  margin-top: 2rem;
  margin-left: 3rem;
}

/* ==================== DATOTECA header ====================== */
.bodydatoteca {
  background: linear-gradient(0deg, #9A99DA 0%, #A2A1DC 4.13%, #B8B7E0 10.55%, #DBDBE8 18.42%, #EBEBEB 21.54%, #EBEBEB 32.86%, #EBEBEB 100%) no-repeat;
  background-size: cover;
}
.contenedor h1{
  font-family: 'Playfair Display', serif;
  color: #333333;
  text-align: center;
}
.categorias {
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
  align-items: center;
}
.lista_categorias {
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  height: 41px;
  border-radius: 50px;
  color: #333333;
  text-decoration: none;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  margin-right: 15px;
  margin-top: 20px;
  padding: 0 1em 0 1em;
  display: inline-block;
  line-height: 41px;
}
.lista_categorias:hover {
  color: #5A45CB;
  font-weight: bold;
}
.busqueda {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 6em;
  margin-top: 2rem;
  position: relative;
}
#busqueda {
  border-radius: 50px;
  border: 1px solid #9E9E9E;
  font-family: 'Work Sans', sans-serif;
  padding: 10px 40px 10px 15px;
  margin: 0;
}
#busqueda:focus {
  outline: none;
  border-color: #5A45CB;
}
#boton-busqueda {
  border-radius: 50px;
  position: absolute; /* Posición absoluta para superponer el botón */
  top: 50%; /* Alinearlo verticalmente en el centro */
  right: 10px; /* Ajustar el espacio desde la derecha */
  background-color: transparent;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  transform: translateY(-50%); /* Centrar verticalmente usando transform */
  margin: 0; /* Establecer márgenes a cero */
  padding: 8px;
}
#boton-busqueda i {
  font-size: 0.8rem;
  color: #333333;
}
/* ==================== DATOTECA CARDS ====================== */
.cartas_datoteca {
  margin: 4rem 13rem 1rem;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
}

.fila1, .fila2, .filax {
  display: flex; /* Usa flexbox en lugar de column-count */
  flex-wrap: wrap; /* Para que las cards se envuelvan en filas */
  margin-bottom: 1rem; /* Espacio entre las filas */
}

.cardfila1, .cardfila2, .cardfilax {
  margin-right: 1em;
  border-color: transparent;
  border-radius: 50px;
  overflow: hidden; /* Evita que el contenido se desborde */
  flex-direction: column;
  margin-bottom: 1rem;
}
.fila1 .cardfila1 {
  flex: 0 0 calc(100% - 1em);
  margin-right: 0;
}
.fila1 .imagen_datoteca_fila1 {
  max-width: 40%;
  height: 30rem;
  object-fit: cover;
  margin-right: 1em;
  float: left;
}
.fila2 .cardfila2 {
  flex: 0 0 calc(50% - 2em); /* Ocupa el 50% del ancho */
}
.filax .cardfilax {
  flex: 0 0 calc(33.3% - 2em);
}
.carta1_body_datoteca {
  margin-top: 2rem;
  margin-left: 1.5rem;
  max-width: 55%;
  float: right;
  text-decoration: none;
}
.carta_body_datoteca {
  margin-left: 1.4rem;
  margin-right: 1.4rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  text-decoration: none;
}
.imagen_datoteca_fila1,
.imagen_datoteca_fila2,
.imagen_datoteca_filax {
  width: 100%;
  height: 20vw;
  object-fit: cover;
  max-height: 200vw;

}
.categoria_datoteca {
  font-family: 'Playfair Display', serif;
  color: #333333;
  font-size: 0.8rem;
  text-decoration: none;
}
.cardfila1 {
   .titulo_datoteca {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    font-weight: lighter;
    color: #333333;
    font-size: 2.8rem;
    line-height: 1.2;
  }
  .fecha_datoteca {
    font-family: 'Work Sans', sans-serif;
    color: #333333;
    text-decoration: none;
    font-size: 0.8rem;
  }
}
.cardfila2 {
  .titulo_datoteca {
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    color: #333333;
    font-size: 2rem;
    text-decoration: none;
  }
  .fecha_datoteca {
    font-family: 'Work Sans', sans-serif;
    color: #333333;
    font-size: 0.5rem;
    text-decoration: none;
  }
  .extacto_datoteca {
    font-family: 'Work Sans', sans-serif;
    color: #333333;
    font-size: 0.8rem;
    text-decoration: none;
  }
}
.cardfilax {
  .titulo_datoteca {
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    color: #333333;
    font-size: 2rem;
    text-decoration: none;
  }
  .fecha_datoteca {
    font-family: 'Work Sans', sans-serif;
    color: #333333;
    text-decoration: none;
    font-size: 0.5rem;
  }
  .extacto_datoteca {
    font-family: 'Work Sans', sans-serif;
    color: #333333;
    font-size: 0.8rem;
    text-decoration: none;
  }
}
.cardfila1 a,
.cardfila2 a,
.cardfilax a {
    text-decoration: none;
    color: #333333; /* Cambia el color del texto de los enlaces según tus preferencias */
}

#load-more-button {
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  border-radius: 50px;
  margin-top: 0; /* Elimina el margen superior */
  margin-bottom: 0;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  padding: 0 1rem 0;
  display: inline-block;
  line-height: 41px;
  align-items: center;
  max-width: 300px;
}
.center-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* ==================== NUESTRO TRABAJO ====================== */
.nuestro_trabajo {
  background-color: #9A99DA;
}

/* ==================== PUBLICACIÓN SINGULAR ====================== */
.publicacion {
  background-image: linear-gradient(
    0deg,
    #9A99DA 0%,
    #A2A1DC 4.13%,
    #B8B7E0 10.55%,
    #DBDBE8 18.42%,
    #EBEBEB 21.54%,
    #EBEBEB 32.86%,
    #EBEBEB 82.4%,
    #EBEBEB 82.4%,
    #EBEBEB 82.41%,
    #EBEBEB 85%,
    #ECA0ED 15%
  );
  }
.bloquepost {
  background-color: #FFFFFF;
  border-radius: 30px;
  margin: 4rem 8rem 6rem;
  column-count: 2;
  column-width: auto;
  column-fill: balance;
  column-gap: 3vw;
  padding: 5rem;
}

.cajaextracto {
  color: #333333;
  font-family: "Playfair Display", serif;
  font-size: 2vw;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
  padding-bottom: 10rem;
}
.columnaizquierda {
}

.borde_imagen_principal {
  padding-bottom: 8rem;
}
.imagen_principal, .imagen2, .imagen3, .imagen4, .imagen5 {
  width: 100%;
  border-radius: 16px 16px 16px 16px;
}
.columnaderecha {
}
.titulo-container {
  margin-bottom: 2rem;
}
.titulo {
  color: #333333;
  font-family: 'Work Sans', sans-serif;
  font-size: 3vw;
  font-style: normal;
  line-height: normal;
}
.fecha {
  color: #333333;
  font-family: 'Work Sans', sans-serif;
  font-size: 0.7rem;
}

.contenido {
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.autora {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.7rem;
}

/* ==================== NUESTRA HISTORIA ====================== */
body .nuestra_hisotria {
  background: linear-gradient(0deg, #9A99DA 0%, #EBEBEB 12%, #EBEBEB 31.53%, #F2E1BB 36.31%, #FBD37A 43.22%, #FFCD61 46.49%, #F9D587 56.9%, #F3DFB2 70.4%, #EFE5D1 82.56%, #ECEAE4 92.84%, #EBEBEB 100%);
}
/* ==================== PÁGINA DE POSTS POR CATEGORÍA ====================== */

.post_por_cat {
  background: linear-gradient(0deg, #9A99DA 0%, #A2A1DC 4.13%, #B8B7E0 10.55%, #DBDBE8 18.42%, #EBEBEB 21.54%, #EBEBEB 32.86%, #EBEBEB 100%) no-repeat;
  background-size: cover;
  height: 100%;
}
.body_ppc {
  background-color: #FFFFFF;
  border-radius: 30px;
  margin-bottom: 12rem;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-top: 8rem;
  padding-bottom: 4rem;
}
.titulo_post_por_cat {
  font-family: 'Playfair Display', serif;
  font-size: 3vw;
  color: #333333;
  padding-bottom: 3rem;
  padding-top: 3rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
.cada_post {
  font-family: 'Work Sans', sans-serif;
  margin-left: 8rem;
  margin-right: 8rem ;
}
.titulo_post {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}
.titulo_post:hover {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5vw;
  font-weight: bolder;
  color: #5A45CB;
  text-decoration: underline;
}
.post_extracto {
  font-family: 'Work Sans', sans-serif;
  color: #333333;
  font-size: 1vw;
}
.ver_detalle {
  margin-left: 3rem;
  color: #5A45CB;
  text-decoration: none;
  font-size: 1vw;
  margin-bottom: 2rem;
}
/* ==================== BUSCAR ====================== */
.body_buscar {
  background: linear-gradient(0deg, #9A99DA 0%, #A2A1DC 4.13%, #B8B7E0 10.55%, #DBDBE8 18.42%, #EBEBEB 21.54%, #EBEBEB 32.86%, #EBEBEB 100%) no-repeat;
  background-size: cover;
  height: 100%;
}
.buscar {
  background-color: #FFFFFF;
  border-radius: 30px;
  margin-bottom: 12rem;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-top: 8rem;
  padding-bottom: 4rem;
}
.titulo_buscar {
  font-family: 'Playfair Display', serif;
  font-size: 3vw;
  color: #333333;
  padding-bottom: 3rem;
  padding-top: 3rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
.resultados {
  margin-right: 8rem;
  margin-left: 8rem;
}
.nada {
  font-family: 'Work Sans', sans-serif;
}
