.bodyhome {
  background: linear-gradient(
      0deg,
      #9a99da 0%,
      #a2a1dc 4.13%,
      #b8b7e0 10.55%,
      #dbdbe8 18.42%,
      #ebebeb 21.54%,
      #ebebeb 32.86%,
      #ebebeb 100%
    )
    no-repeat;
  background-size: cover;
  height: 100%;
}
a {
  text-decoration: none;
}
/* ==================== HEADER ====================== */
/* .botondonar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */
header {
  margin-top: 4vw;
}
/* header button {
  font-size: 18px;
  font-family: "Playfair Display", serif;
  width: 92px;
  height: 41px;
  border-radius: 50px;
  border: 1px solid #333333;
  background-color: transparent;
  margin-right: 5%;
  margin-top: 20px;
} */

/* styles by saad */

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-left: 140px;
  padding-right: 90px;
  flex-wrap: nowrap;
}

.navbar-list {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  padding: 5px;
  margin-left: 70px;
  padding-left: 18px;
  padding-right: 18px;
}

.navbar-list li {
  list-style: none;
}

.navbar-list a {
  text-decoration: none;
  font-size: 13px;
  color: #676767;
  letter-spacing: 1px;
}

.hamburger {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 0px;
  background-color: white;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: fixed;
  top: 0;
  left: -280px;
  width: 250px;
  height: 100%;
  padding: 12px;
  padding-top: 25px;
  transition: all 0.5s;
  z-index: 10;
}

.sidebar li {
  list-style: none;
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  font-size: 13px;
  color: #676767;
  letter-spacing: 1px;
}

.open-sidebar {
  left: 0;
}

/* ==================== NAVEGADOR ====================== */
nav {
  background-color: #ffffff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  font-family: "Work Sans", sans-serif;
  font-size: 1vw;
  height: 3vw;
  color: #222222;
  border-radius: 50px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 1rem;
}
.logo-con-margen {
  margin-left: 8rem;
}
.nav-item {
  font-weight: 400;
  margin: 0.5vw 1vw 0.5vw 1vw;
}
.nav-item:active {
  font-weight: bolder;
}

/* ==================== ESTILO FOOTER ====================== */

.footer {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 80px;
  border-top: 1px solid;
  border-color: white;
  padding-top: 40px;
}

.footer .first-div {
  display: flex;
  flex-direction: column;
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
}

.footer .first-div img {
  margin-bottom: 20px;
}

.footer .second-div {
  display: flex;
  flex-direction: column;
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
}

.footer .third-div {
  display: flex;
  flex-direction: column;
  font-family: "Playfair Display", serif;
}

footer {
  .container-fluid {
    border-top: 1px solid #ebebeb;
    padding-top: 3vw;
    color: #ebebeb;
    margin-left: 6vw;
    margin-right: 6vw;
    padding-bottom: 10vw;
    display: block;
  }
}
.columna1 {
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  line-height: 1.1;
}
.columna2 {
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
}
.columna3 {
  font-family: "Work Sans", sans-serif;
}
.linkmail {
  font-family: "Work Sans", sans-serif;
  font-size: 1.1em;
  color: #ebebeb;
  text-decoration: none;
  margin: 2em;
}
.footer button {
  background-color: transparent;
  padding: 10px 30px 10px 30px;
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  color: #ebebeb;
  border-radius: 50px;
  border: 1px solid #ebebeb;
}
.rrss img {
  margin-right: 0.8em;
}

/* ==================== HOME DESTACADO ====================== */
.destacado_home {
  column-count: 2;
  column-gap: 2vw;
  margin: 8rem 10rem 3rem;
}
.col-md-6 {
  width: 100%;
}
.imagen_destacada {
  width: 100%;
  max-height: 30rem;
  object-fit: cover;
}
.titulo_destacado {
  font-family: "Playfair Display", serif;
  font-size: 3vw;
  color: #333333;
}
.extracto_destacado {
  color: #333333;
  font-family: "Work Sans", sans-serif;
  font-size: 1vw;
}
.botonvermas {
  border: none;
  border-radius: 50px;
  background-color: #ffffff;
  color: #333333;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  padding: 0.5vw 1vw;
  margin: 1vw;
}

/* styles by saad */

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero-container {
  display: flex;
  padding: 160px;
  padding-top: 130px;
  padding-bottom: 0;
}

.hero-container .left-div {
  flex: 0.5;
  margin-right: 20px;
}

.hero-container .right-div {
  flex: 0.5;
  margin-left: 20px;
}

/* ==================== HOME CONTENEDOR NOVEDADES ====================== */

.novedades {
  /* container novedades */
  margin: 6em;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 8em;
  display: flex;
  flex-direction: column;
}
.contenedor_titulo {
  width: 100%;
  padding-bottom: 2vw;
}
.titulo_novedades {
  font-family: "Playfair Display", serif;
  font-size: 2.5vw;
  color: #333333;
}
.novedades-cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.novedad-card {
  flex: 0 0 calc(50% - 1em);
  margin-bottom: 3vw;
}
.card {
  border-radius: 50px;
  border: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 410px;
  height: 580px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
}

.publicacion .card {
  width: unset;
  height: unset;
  margin-right: unset;
  margin-left: unset;
}
.card-body {
  border-radius: 50px;
  border: none;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.card-img-top {
  border: none;
  border-radius: 50px 50px 0 0;
  width: 100%;
  margin: 0;
  height: auto;
  vertical-align: middle;
  background-size: cover;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}
.card-text {
  text-align: left;
  text-decoration: none;
}
.categoriashome {
  font-family: "Playfair Display", serif;
  font-size: 1vw;
  color: #222222;
  text-decoration: none;
  margin-left: 2vw;
}
.titulos {
  text-decoration: none;
  margin-left: 2vw;
  margin-right: 2vw;
  font-family: "Work Sans", sans-serif;
  font-size: 2vw;
}
.fechas {
  text-decoration: none;
  margin-left: 2vw;
  margin-right: 2vw;
  font-family: "Work Sans", sans-serif;
  font-size: 0.8em;
}
.card-body a {
  text-decoration: none; /* Elimina el subrayado */
  color: #333333; /* Cambia el color del texto */
}

/* ==================== NOSOTRAS ====================== */
.nosotrash {
  background-color: #9a99da;
}
.texto_imagen_nosotras {
  display: flex;
  justify-content: space-between;
  padding: 100px;
  padding-top: 170px;
  padding-bottom: 60px;
}
.textonosotras {
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  color: #333333;
  vertical-align: middle;
}
.fotomancha {
  margin-left: 8rem;
}
.mancha {
  max-width: 120%;
  height: auto;
  vertical-align: middle; /* Alinea verticalmente la imagen */
}
.colaboradoras {
  display: flex;
  flex-direction: column;
  margin: 6rem;
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 50px;
  padding: 8em;
}
.equipo {
  display: flex;
  flex-direction: row;
}
.lasvoluntarias {
  column-count: 3;
  column-gap: 2px;
  border-top: 1px solid #222222;
}

.elequipo {
  column-count: 3;
  column-gap: 2px;
}
.columna4 {
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  color: #333333;
  padding: 20px;
  padding-bottom: 100%;
}
.columna5 {
  font-family: "Work Sans", sans-serif;
  padding-top: 2rem;
}
.lasvoluntarias {
  column-count: 3;
  column-gap: 2px;
}
.columna7 {
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  color: #333333;
  padding: 20px;
  padding-bottom: 100%;
}
.columna8 {
  font-family: "Work Sans", sans-serif;
  padding-top: 2rem;
}
.tomaaccion {
  border-top: 1px solid #222222;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.columna10 {
  font-family: "Playfair Display", serif;
  font-size: 2em;
  color: #333333;
  padding: 20px;
  display: flex;
}
.columna11 {
  margin-left: 3rem;
}
.columna11 button {
  background-color: transparent;
  font-family: "Work Sans", sans-serif;
  font-size: 1.2em;
  color: #333333;
  border: 1px solid #222222;
  border-radius: 50px;
  align-content: center;
  padding: 5px 20px 5px 20px;
  margin-top: 2rem;
  margin-left: 3rem;
}

/* styles by saad */

.nosotras-hero-left-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.4;
}

.nosotras-hero-left-div img {
  width: 100%;
}

.nosotras-hero-right-div {
  flex: 0.5;
  margin-top: 40px;
}

.colaboradoras-first-div {
  display: flex;
  font-family: "Playfair Display", serif;
  font-size: 2em;
  padding-bottom: 30px;
}

.colaboradoras-first-div .first-section {
  flex: 1;
}

.colaboradoras-first-div .second-section {
  flex: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 14px;
}

.colaboradoras-first-div .second-section .second-section-inner {
  margin-bottom: 30px;
  font-family: "Work Sans", sans-serif;
}

.colaboradoras-second-div {
  display: flex;
  font-family: "Playfair Display", serif;
  font-size: 2em;
  border-top: 1px solid black;
  padding-top: 40px;
  padding-top: 50px;
}

.colaboradoras-second-div .first-section {
  flex: 1;
}

.colaboradoras-second-div .second-section {
  flex: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.colaboradoras-second-div .second-section .second-section-inner {
  margin-bottom: 30px;
  font-family: "Work Sans", sans-serif;
}

/* ==================== DATOTECA header ====================== */
.bodydatoteca {
  background: linear-gradient(
      0deg,
      #9a99da 0%,
      #a2a1dc 4.13%,
      #b8b7e0 10.55%,
      #dbdbe8 18.42%,
      #ebebeb 21.54%,
      #ebebeb 32.86%,
      #ebebeb 100%
    )
    no-repeat;
  background-size: cover;
}
.contenedor h1 {
  font-family: "Playfair Display", serif;
  color: #333333;
  text-align: center;
}
.categorias {
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
  align-items: center;
}
.lista_categorias {
  font-size: 1rem;
  font-family: "Playfair Display", serif;
  height: 41px;
  border-radius: 50px;
  color: #333333;
  text-decoration: none;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  margin-right: 15px;
  margin-top: 20px;
  padding: 0 1em 0 1em;
  display: inline-block;
  line-height: 41px;
}
.lista_categorias:hover {
  color: #5a45cb;
  font-weight: bold;
}
.busqueda {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 6em;
  margin-top: 2rem;
  position: relative;
}
#busqueda {
  border-radius: 50px;
  border: 1px solid #9e9e9e;
  font-family: "Work Sans", sans-serif;
  padding: 10px 40px 10px 15px;
  margin: 0;
}
#busqueda:focus {
  outline: none;
  border-color: #5a45cb;
}
#boton-busqueda {
  border-radius: 50px;
  position: absolute; /* Posición absoluta para superponer el botón */
  top: 50%; /* Alinearlo verticalmente en el centro */
  right: 10px; /* Ajustar el espacio desde la derecha */
  background-color: transparent;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  transform: translateY(-50%); /* Centrar verticalmente usando transform */
  margin: 0; /* Establecer márgenes a cero */
  padding: 8px;
}
#boton-busqueda i {
  font-size: 0.8rem;
  color: #333333;
}

/* style by saad */

.search-top-bar-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

/* ==================== DATOTECA CARDS ====================== */
.cartas_datoteca {
  margin: 4rem 13rem 1rem;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
}
.fila1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.fila2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.filax {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.fila2 .blog-card {
  min-width: 440px;
  min-height: 510px;
}

.filax .blog-card {
  min-width: 310px;
  min-height: 390px;
}

.blog-card {
  min-width: 510px;
  min-height: 590px;
}

.fila1 .blog-card {
  min-height: 480px;
}

.cardfila1,
.cardfila2,
.cardfilax {
  margin-right: 1em;
  border-color: transparent;
  border-radius: 50px;
  overflow: hidden; /* Evita que el contenido se desborde */
  flex-direction: column;
  margin-bottom: 1rem;
}
.fila1 .cardfila1 {
  display: flex;
  flex-direction: row;
  margin-right: 0;
}
.fila1 .imagen_datoteca_fila1 {
  max-width: 40%;
  height: 100%;
  object-fit: cover;
  margin-right: 1em;
}
.fila2 .cardfila2 {
  flex: 0 0 calc(50% - 2em); /* Ocupa el 50% del ancho */
}
.filax .cardfilax {
  flex: 0 0 calc(33.3% - 2em);
}
.carta1_body_datoteca {
  margin-top: 2rem;
  margin-left: 1.5rem;
  text-decoration: none;
}
.carta_body_datoteca {
  margin-left: 1.4rem;
  margin-right: 1.4rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  text-decoration: none;
}
.imagen_datoteca_fila1,
.imagen_datoteca_fila2,
.imagen_datoteca_filax {
  width: 100%;
  height: 20vw;
  object-fit: cover;
  max-height: 200vw;
  min-height: 280px;
}
.categoria_datoteca {
  font-family: "Playfair Display", serif;
  color: #333333;
  font-size: 0.8rem;
  text-decoration: none;
}
.cardfila1 {
  .titulo_datoteca {
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
    font-weight: lighter;
    color: #333333;
    font-size: 2.8rem;
    line-height: 1.2;
  }
  .fecha_datoteca {
    font-family: "Work Sans", sans-serif;
    color: #333333;
    text-decoration: none;
    font-size: 0.8rem;
  }
}
.cardfila2 {
  .titulo_datoteca {
    font-family: "Work Sans", sans-serif;
    font-weight: lighter;
    color: #333333;
    font-size: 2rem;
    text-decoration: none;
  }
  .fecha_datoteca {
    font-family: "Work Sans", sans-serif;
    color: #333333;
    font-size: 0.5rem;
    text-decoration: none;
  }
  .extacto_datoteca {
    font-family: "Work Sans", sans-serif;
    color: #333333;
    font-size: 0.8rem;
    text-decoration: none;
  }
}
.cardfilax {
  .titulo_datoteca {
    font-family: "Work Sans", sans-serif;
    font-weight: lighter;
    color: #333333;
    font-size: 2rem;
    text-decoration: none;
  }
  .fecha_datoteca {
    font-family: "Work Sans", sans-serif;
    color: #333333;
    text-decoration: none;
    font-size: 0.5rem;
  }
  .extacto_datoteca {
    font-family: "Work Sans", sans-serif;
    color: #333333;
    font-size: 0.8rem;
    text-decoration: none;
  }
}
.cardfila1 a,
.cardfila2 a,
.cardfilax a {
  text-decoration: none;
  color: #333333; /* Cambia el color del texto de los enlaces según tus preferencias */
}

#load-more-button {
  font-size: 18px;
  font-family: "Playfair Display", serif;
  border-radius: 50px;
  margin-top: 0; /* Elimina el margen superior */
  margin-bottom: 0;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 0 1rem 0;
  display: inline-block;
  line-height: 41px;
  align-items: center;
  max-width: 300px;
}
.center-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* ==================== NUESTRO TRABAJO ====================== */
.nuestro_trabajo {
  background-color: #9a99da;
}
.glosario {
  background-color: #ffffff;
  border-radius: 30px;
  margin: 5rem 16rem 4rem;
  padding: 3rem;
}
.titulo_glosario {
  font-family: "Playfair Display", serif;
  font-size: 3vw;
  text-align: center;
  margin-bottom: 3rem;
}
.lista_terminos {
  align-items: center;
  text-align: center;
}
.terminos {
  align-items: center;
  align-content: center;
  border-radius: 50px;
  border: 1px solid #333333;
  font-family: "Playfair Display", serif;
  font-size: 1.2vw;
  color: #333333;
  background-color: transparent;
  padding: 0.5rem 1rem;
  margin-bottom: 0.8rem;
}
.despliegue_definicion {
  margin-top: 3rem;
}
.termino {
  font-family: "Playfair Display", serif;
  font-size: 1.8vw;
  font-weight: lighter;
  text-align: center;
  color: #333333;
}
.definicion {
  font-weight: lighter;
  font-family: "Work Sans", sans-serif;
  font-size: 1vw;
  font-style: italic;
  margin-left: 3rem;
  margin-right: 3rem;
  color: #333333;
}
.nuestros_proyectos {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 4rem;
  color: #333333;
}
.nuestros {
  font-family: "Playfair Display", serif;
  color: #333333;
  margin-bottom: 4rem;
}
.container_proyecto {
  margin: 2rem 12rem 3rem;
  border-color: transparent;
  border-radius: 30px;
  column-count: 2;
  column-gap: 1px;
  height: 20rem;
}
.columna_imagen_proyecto {
  max-width: 30%;
}
.imagen_proyecto {
  border-radius: 30px 0 0 30px;
  width: 20rem; /* Establece el ancho deseado */
  height: 20rem; /* Establece la misma altura que el ancho para mantener la imagen cuadrada */
  object-fit: cover; /* Recorta la imagen para que se ajuste al cuadro sin deformarse */
}
.columna_textos {
  padding: 0.8rem;
  text-align: left;
  text-decoration: none;
}
.categoria_proyecto {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: 1vw;
  color: #333333;
}
.titulo_proyecto {
  font-weight: 300;
  text-decoration: none;
  color: #333333;
  font-family: "Work Sans", sans-serif;
  font-size: 2.5vw;
}
.extracto_proyecto {
  font-weight: 300;
  text-decoration: none;
  color: #333333;
  font-family: "Work Sans", sans-serif;
  font-size: 1.2vw;
}
.fecha_proyecto {
  font-weight: 300;
  text-decoration: none;
  color: #333333;
  font-family: "Work Sans", sans-serif;
  font-size: 1vw;
}
.kits {
  margin: 6rem 12rem 10rem;
  text-decoration: none;
}
.cards_kit {
  column-count: 3;
  column-gap: 1rem;
  text-decoration: none;
}
.imagen_herramientas {
  border-radius: 30px 30px 0 0;
  width: 22rem; /* Establece el ancho deseado */
  height: 22rem; /* Establece la misma altura que el ancho para mantener la imagen cuadrada */
  object-fit: cover;
}
.kits_y_herramientas {
  font-family: "Playfair Display", serif;
  font-size: 3vw;
  color: #333333;
  align-content: initial;
  margin-bottom: 3rem;
  text-decoration: none;
}
.cada_card {
  border-radius: 30px;
  border-color: transparent;
  margin: 0;
  width: 22rem;
  height: 30rem;
}
.titulo_kit {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #333333;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1vw;
  text-decoration: none;
}

/* ==================== PUBLICACIÓN SINGULAR ====================== */
.publicacion {
  background-image: linear-gradient(
    0deg,
    #9a99da 0%,
    #a2a1dc 4.13%,
    #b8b7e0 10.55%,
    #dbdbe8 18.42%,
    #ebebeb 21.54%,
    #ebebeb 32.86%,
    #ebebeb 82.4%,
    #ebebeb 82.4%,
    #ebebeb 82.41%,
    #ebebeb 85%,
    #eca0ed 15%
  );
}
.bloquepost {
  background-color: #ffffff;
  border-radius: 30px;
  margin: 4rem 8rem 6rem;
  column-count: 2;
  column-width: auto;
  column-fill: balance;
  column-gap: 3vw;
  padding: 5rem;
}

.cuerpopost {
  width: 100%;
}

.cajaextracto {
  color: #333333;
  font-family: "Playfair Display", serif;
  font-size: 2vw;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
  padding-bottom: 10rem;
}
.columnaizquierda {
}

.borde_imagen_principal {
  padding-bottom: 8rem;
}
.imagen_principal,
.imagen2,
.imagen3,
.imagen4,
.imagen5 {
  width: 100%;
  border-radius: 16px 16px 16px 16px;
}
.columnaderecha {
}
.titulo-container {
  margin-bottom: 2rem;
}
.titulo {
  color: #333333;
  font-family: "Work Sans", sans-serif;
  font-size: 3vw;
  font-style: normal;
  line-height: normal;
}
.fecha {
  color: #333333;
  font-family: "Work Sans", sans-serif;
  font-size: 0.7rem;
}

.contenido {
  font-family: "Work Sans", sans-serif;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #333333;
}
.autora {
  font-family: "Work Sans", sans-serif;
  font-size: 0.7rem;
  color: #333333;
}
.explorar {
  border-top: #333333 1px solid;
  margin-right: 8rem;
  margin-left: 8rem;
  padding-top: 3rem;
}
.sigue_explorando {
  color: #333333;
  font-family: "Playfair Display", serif;
  font-size: 3vw;
  font-style: normal;
  line-height: normal;
  text-align-all: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
}
.tres_columnas {
  column-count: 3;
  column-gap: 2rem;
  margin-bottom: 5rem;
}
.imagen_principal_card {
  width: 100%;
  height: 25vw;
}
.texto_card {
  padding: 1rem;
}
.explora_cat {
  font-family: "Playfair Display", serif;
  font-size: 1vw;
  color: #333333;
}
.titulo_explora {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2vw;
  color: #333333;
}
.fecha_explora {
  font-family: "Work Sans", sans-serif;
  font-size: 1vw;
  color: #333333;
  font-weight: 400;
}

/* ==================== NUESTRA HISTORIA ====================== */
.nuestra_historia {
  background: linear-gradient(
    0deg,
    #9a99da 0%,
    #ebebeb 12%,
    #ebebeb 31.53%,
    #f2e1bb 36.31%,
    #fbd37a 43.22%,
    #ffcd61 46.49%,
    #f9d587 56.9%,
    #f3dfb2 70.4%,
    #efe5d1 82.56%,
    #eceae4 92.84%,
    #ebebeb 100%
  );
}
.bloque_blanco {
  background-color: #ffffff;
  border-radius: 50px;
  margin: 2vw 10vw 4vw;
  padding: 6vw 8vw 5vw;
}
.titulo_principal {
  font-family: "Playfair Display", serif;
  font-size: 2.5vw;
  color: #333333;
  text-align: center;
  margin-top: 4vw;
  margin-bottom: 1.5vw;
}
.feminismo_datos {
  font-family: "Playfair Display", serif;
  font-size: 2vw;
  color: #333333;
  margin-bottom: 1vw;
}
.texto_feminismo_datos {
  border-bottom: #333333 solid 1px;
  column-count: 2;
  column-gap: 3vw;
  padding-bottom: 3vw;
  margin-bottom: 3vw;
  color: #333333;
  font-family: "Work Sans", sans-serif;
  font-size: 1vw;
}
.titulo_nuestros_pilares {
  font-family: "Playfair Display", serif;
  font-size: 2vw;
  color: #333333;
  text-align: center;
  margin-bottom: 2vw;
}
.texto_nuestros_pilares {
  color: #333333;
  font-family: "Work Sans", sans-serif;
  font-size: 1vw;
  margin-right: 15vw;
  margin-left: 15vw;
  text-align: center;
}
.card_pilares {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card_pilares .card {
  border-radius: 50px;
  padding: 4vw;
  margin: 2vw;
  width: 350px;
  height: 280px;
  display: flex;
  justify-content: center;
}

.titulo_card_pilares {
  font-family: "Work Sans", sans-serif;
  font-size: 1vw;
  color: #333333;
  font-weight: 500;
}
.texto_card_pilares {
  font-family: "Work Sans", sans-serif;
  font-size: 0.7vw;
  color: #333333;
  font-weight: 400;
}
.card1 {
  border-radius: 50px;
  padding: 4vw;
  margin: 2vw;
}
.card2 {
  border-radius: 50px;
  padding: 4vw;
  margin: 2vw;
}
.card3 {
  border-radius: 50px;
  padding: 4vw;
  margin: 2vw;
}
.surge {
  font-family: "Playfair Display", serif;
  color: #333333;
  font-size: 2.5vw;
  text-align: center;
}
.tiempo {
  font-family: "Work Sans", sans-serif;
  color: #333333;
  font-weight: 500;
  text-align: center;
  font-size: 3vw;
}
.texto_tiempo {
  font-family: "Work Sans", sans-serif;
  color: #333333;
  font-weight: 300;
  text-align: center;
  font-size: 1vw;
  margin: 2vw 28vw 5vw 28vw;
}
.estallido {
  display: flex;
  border-radius: 30px 30px 0 0;
  justify-content: center;
  align-items: center;
  margin: 2vw 10vw 4vw;
  overflow: hidden;
}
img.constituyente {
  width: 100%;
}
.caja_pandemia {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #ffffff;
  margin: 2vw 10vw 4vw;
  padding-top: 8vw;
  padding-bottom: 8vw;
  margin-top: -100px;
  z-index: 2;
}
/* ==================== PÁGINA DE POSTS POR CATEGORÍA ====================== */

.post_por_cat {
  background: linear-gradient(
      0deg,
      #9a99da 0%,
      #a2a1dc 4.13%,
      #b8b7e0 10.55%,
      #dbdbe8 18.42%,
      #ebebeb 21.54%,
      #ebebeb 32.86%,
      #ebebeb 100%
    )
    no-repeat;
  background-size: cover;
  height: 100%;
}
.body_ppc {
  background-color: #ffffff;
  border-radius: 30px;
  margin: 8rem 10rem 12rem;
  padding-bottom: 4rem;
}
.titulo_post_por_cat {
  font-family: "Playfair Display", serif;
  font-size: 3vw;
  color: #333333;
  padding-bottom: 3rem;
  padding-top: 3rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
.cada_post {
  font-family: "Work Sans", sans-serif;
  margin-left: 8rem;
  margin-right: 8rem;
}
.titulo_post {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}
.titulo_post:hover {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5vw;
  font-weight: bolder;
  color: #5a45cb;
  text-decoration: underline;
}
.post_extracto {
  font-family: "Work Sans", sans-serif;
  color: #333333;
  font-size: 1vw;
}
.ver_detalle {
  margin-left: 3rem;
  color: #5a45cb;
  text-decoration: none;
  font-size: 1vw;
  margin-bottom: 2rem;
}
/* ==================== BUSCAR ====================== */
.body_buscar {
  background: linear-gradient(
      0deg,
      #9a99da 0%,
      #a2a1dc 4.13%,
      #b8b7e0 10.55%,
      #dbdbe8 18.42%,
      #ebebeb 21.54%,
      #ebebeb 32.86%,
      #ebebeb 100%
    )
    no-repeat;
  background-size: cover;
  height: 100%;
}
.buscar {
  background-color: #ffffff;
  border-radius: 30px;
  margin-bottom: 12rem;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-top: 8rem;
  padding-bottom: 4rem;
}
.titulo_buscar {
  font-family: "Playfair Display", serif;
  font-size: 3vw;
  color: #333333;
  padding-bottom: 3rem;
  padding-top: 3rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
.resultados {
  margin-right: 8rem;
  margin-left: 8rem;
}
.nada {
  font-family: "Work Sans", sans-serif;
  color: #333333;
}
/* ==================== TRANSPARENCIA ====================== */
.transparencia {
  background: linear-gradient(
    0deg,
    #ffcd61 46.49%,
    #f9d587 56.9%,
    #f3dfb2 70.4%,
    #efe5d1 82.56%,
    #eceae4 92.84%,
    #ebebeb 100%
  );
}
.titulo_transparencia {
  color: #333333;
  font-size: 2.8vw;
  font-family: "Playfair Display", serif;
  margin-top: 6vw;
  margin-bottom: 2vw;
  text-align: center;
}
.caja_blanca {
  background-color: #ffffff;
  border-radius: 50px;
  margin-left: 12vw;
  margin-right: 12vw;
  padding-right: 5vw;
  padding-left: 5vw;
  padding-bottom: 8vw;
  margin-bottom: 6vw;
  columns: 2;
  column-gap: 100px;
}
.aporte {
  color: #333333;
  font-size: 2.4vw;
  font-family: "Playfair Display", serif;
  padding-top: 5vw;
  margin: 6vw 3vw 2vw;
}
.texto_aporte {
  font-family: "Work Sans", sans-serif;
  font-size: 1vw;
  columns: 2;
  column-gap: 8vw;
  margin-left: 3vw;
  margin-right: 3vw;
}
/* ==================== BLOG ====================== */

.cuerpoblog {
  background: linear-gradient(
    0deg,
    #ffcd61 46.49%,
    #f9d587 56.9%,
    #f3dfb2 70.4%,
    #efe5d1 82.56%,
    #eceae4 92.84%,
    #ebebeb 100%
  );
}
.tituloblog {
  font-family: "Playfair Display", serif;
  font-size: 3vw;
  text-align: center;
  color: #333333;
  margin-top: 3vw;
  margin-bottom: 1vw;
}
.margen_boton_buscar {
  margin-top: 3vw;
}
.lista_categorias_blog {
  margin-right: 12vw;
  margin-left: 12vw;
  margin-bottom: 3vw;
}
.categoriasblog {
  background-color: transparent;
  border: transparent;
}
.bloque_posts {
  background-color: #ffffff;
  border-radius: 50px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 6vw;
  padding: 7vw;
}
.ultimos_post {
  font-family: "Playfair Display", serif;
  color: #333333;
  font-size: 2.2vw;
  margin-left: 0.5vw;
  margin-bottom: 2vw;
}

/* media queries */

@media (max-width: 1348px) {
  .card {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 1300px) {
  .navbar {
    padding-left: 90px;
  }

  .navbar .navbar-list {
    margin-left: 40px;
  }
}

@media (max-width: 1200px) {
  .hero-container {
    padding: 80px;
    padding-top: 100px;
    padding-bottom: 0;
  }

  .navbar {
    padding-left: 46px;
    padding-right: 46px;
  }

  .novedades h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }

  .colaboradoras-first-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .colaboradoras-first-div .second-section {
    grid-template-columns: 1fr;
    column-gap: 0px;
    margin-top: 40px;
  }

  .colaboradoras-second-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .colaboradoras-second-div .second-section {
    grid-template-columns: 1fr;
    column-gap: 0px;
    margin-top: 40px;
  }

  .tomaaccion {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tomaaccion .columna11 {
    margin: 0;
  }

  .tomaaccion .columna11 button {
    margin-left: 0;
  }
}

@media (max-width: 1100px) {
  .navbar {
    justify-content: center;
  }

  .navbar .navbar-list {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .texto_imagen_nosotras {
    padding-top: 60px;
    flex-direction: column;
    justify-content: center;
  }

  .texto_imagen_nosotras img {
    width: 500px;
  }

  .nosotras-hero-right-div {
    margin-top: 80px;
    text-align: center;
  }

  .card_pilares .card {
    width: 300px;
    height: 260px;
  }

  .card_pilares .card .texto_card_pilares {
    font-size: 10px;
  }

  .search-top-bar-container {
    justify-content: center;
    margin: 0;
  }

  .search-top-bar-container .busqueda {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .cartas_datoteca {
    margin: 4rem 4rem 1rem;
  }

  .post_por_cat .body_ppc {
    margin: 8rem 6rem 12rem;
  }

  .post_por_cat .titulo_post_por_cat {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .post_por_cat .cada_post {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .post_por_cat .titulo_post {
    font-size: 18px;
  }

  .post_por_cat .post_extracto {
    font-size: 12px;
  }

  .publicacion .tres_columnas {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .publicacion .bloquepost {
    margin: 4rem 4rem 6rem;
    padding: 3rem;
  }

  .footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 1000px) {
  .glosario {
    margin: 5rem 6rem 4rem;
  }

  .glosario .termino {
    font-size: 23px;
    margin-bottom: 10px;
  }

  .glosario .definicion {
    font-size: 13px;
  }

  .transparencia .titulo_transparencia {
    font-size: 32px;
  }

  .transparencia .aporte {
    font-size: 25px;
    margin-bottom: 26px;
  }

  .transparencia .texto_aporte {
    font-size: 13px;
    columns: unset;
  }

  .post_por_cat .ver_detalle {
    font-size: 13px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer .first-div {
    margin-bottom: 40px;
  }

  .footer .second-div {
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .hero-container {
    padding: 60px;
    padding-top: 80px;
    padding-bottom: 0;
  }

  .novedades {
    padding: 4em;
    margin: 4em;
  }

  .texto_feminismo_datos {
    column-count: 1;
    column-gap: 3vw;
    padding-bottom: 3vw;
    margin-bottom: 3vw;
    color: #333333;
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
  }

  .titulo_card_pilares {
    font-size: 13px;
  }

  .texto_nuestros_pilares {
    font-size: 12px;
  }

  .texto_tiempo {
    font-size: 12px;
    margin: 2vw 14vw 5vw 14vw;
  }

  .blog-card {
    min-width: 90% !important;
  }

  .fila1 .cardfila1 {
    flex-direction: column;
  }

  .fila1 .imagen_datoteca_fila1 {
    max-width: unset;
    height: 100px;
  }

  .fila1 .blog-card {
    min-height: 480px;
    max-width: 90%;
  }

  .bodydatoteca .categorias {
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
    margin-bottom: 30px;
  }

  .cuerpoblog .categorias {
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 850px) {
  .publicacion .bloquepost {
    margin: 4rem 2rem 6rem;
    padding: 3rem;
  }
}

@media (max-width: 780px) {
  .container-fluid {
    columns: 2;
  }
  nav {
    background-color: transparent;
    box-shadow: none;
  }
  .logo-con-margen {
    height: 10vw;
    margin-left: 14vw;
    margin-top: 10vw;
  }
  .loguito {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-center {
    display: flex;
    margin-left: 5rem;
  }
  .navbar-toggler {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  }
  .navbar-toggler:active {
    border: none;
  }
  .navbar-collapse {
    display: flex;
    justify-content: center;
    font-size: 3vw;
    padding: 1vw;
    background-color: #ffffff;
    color: #333333;
    margin-right: 8vw;
    border-radius: 15px;
  }

  /* styles by saad */
  .hero-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero-container .left-div {
    margin-top: 40px;
    margin-right: 0;
    width: 500px;
  }

  .hero-container .left-div h1 {
    font-size: 30px;
  }

  .hero-container .left-div h6 {
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .hero-container .left-div button {
    font-size: 16px;
  }

  .hero-container .right-div {
    margin-left: 0;
  }

  .hero-container .right-div img {
    width: 500px;
  }

  .navbar .logo-div img {
    height: 40px;
    width: 220px;
  }

  .colaboradoras {
    padding-top: 60px;
    padding: 3em;
  }

  .post_por_cat .body_ppc {
    margin: 8rem 2rem 12rem;
  }

  .post_por_cat .titulo_post_por_cat {
    font-size: 23px;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .post_por_cat .cada_post {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .publicacion .explorar {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .publicacion .bloquepost {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 2rem 6rem;
    padding: 1rem;
    margin-top: 120px;
  }

  .publicacion .titulo {
    font-size: 22px;
  }

  .publicacion .borde_imagen_principal {
    padding-bottom: 3rem;
  }

  .publicacion .cajaextracto {
    font-size: 23px;
    font-weight: 700;
    padding-bottom: 3rem;
  }
}

@media (max-width: 700px) {
  .novedades {
    margin-top: 60px !important;
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em;
  }

  .navbar .logo-div img {
    height: 35px;
    width: 200px;
  }

  .texto_imagen_nosotras {
    padding-left: 40px;
    padding-right: 40px;
  }

  .bloque_blanco {
    margin: 2vw 5vw 4vw;
  }

  .feminismo_datos {
    font-size: 3vw;
  }

  .titulo_principal {
    font-size: 4.5vw;
    padding-top: 40px;
    margin-bottom: 40px;
  }

  .titulo_nuestros_pilares {
    font-size: 3vw;
  }

  .caja_pandemia {
    padding-top: 4vw;
    padding-bottom: 4vw;
  }

  .glosario .definicion {
    margin-left: 0;
    margin-right: 0;
  }

  .transparencia .titulo_transparencia {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .transparencia .caja_blanca {
    margin-left: 6vw;
    margin-right: 6vw;
  }
}

@media (max-width: 600px) {
  .hero-container .right-div {
    width: 100%;
  }
  .hero-container .right-div img {
    width: 100%;
  }

  .hero-container .left-div {
    width: unset;
  }

  .texto_imagen_nosotras img {
    width: 90%;
  }

  .nosotras-hero-right-div {
    margin-top: 50px;
  }

  .colaboradoras {
    margin: 3em;
  }

  .cartas_datoteca {
    margin: 4rem 1rem 1rem;
  }

  .cardfila1,
  .cardfila2,
  .cardfilax {
    margin-right: 0;
  }

  .glosario {
    margin: 5rem 2rem 4rem;
  }
}

@media (max-width: 550px) {
  .titulo_principal {
    font-size: 32px;
  }

  .feminismo_datos {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .texto_feminismo_datos {
    font-size: 13px;
    padding-bottom: 8vw;
    margin-bottom: 8vw;
  }

  .titulo_nuestros_pilares {
    font-size: 22px;
  }

  .texto_nuestros_pilares {
    font-size: 13px;
    margin-right: 4vw;
    margin-left: 4vw;
  }

  .texto_tiempo {
    font-size: 13px;
    margin: 2vw 10vw 5vw 10vw;
    font-weight: 500;
  }

  .tiempo {
    font-size: 5vw;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .publicacion .explorar {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .publicacion .bloquepost {
    margin: 4rem 1rem 6rem;
    padding: 1rem;
    padding-top: 60px;
  }
}

@media (max-width: 450px) {
  .colaboradoras {
    margin: 1em;
  }
}
